* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: linear-gradient(#11022b 0%, #11022b 33.33%, #11022b 66.67%, #11022b 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/black.png);
}


body::before {
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.container {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid #6808e5;
    box-shadow: 4px 4px 20px 0px rgba(40, 5, 97, 0.15);
    background-image: url();
    background-size: 100% 100%;
    position: relative;
}


.container__conteudo {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.container__informacoes {
    flex: 1;
    padding: 3rem;
}


.container__input {
    width: 100%;
    height: 75px;
    border-radius: 16px;
    background-color: #12022d;
    border: none;
    color: #6808e5;
    padding: 2rem;
    margin-bottom: 2rem;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.botao_chutar {  
    margin-right: 10px;
    border-radius: 16px;
    background: #6808e5;
    padding: 16px 16px;
    width: 20%;    
    font-size: 24px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.botao_chutar:hover{
    background: #3c0582;
}

.botao_novo {
    border-radius: 16px;
    background: #6808e5;
    padding: 16px 16px;
    width: 30%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.botao_novo:hover{
    background: #3c0582;
}

.container__botaoMais {
    border-radius: 16px;
    background: #6808e5;
    padding: 16px 16px;
    width: 50%;
    font-size: 22px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.container__botaoMais:hover{
    background: #3c0582;
}

.container__texto {
    margin: 16px 0 16px 0;
}

.container__texto-azul {
    color: #6808e5;
}


.container__botoes {
    display: flex;
    gap: 2em;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
    padding-bottom: 3rem;
}

p,
button {
    font-family: 'Chakra Petch', sans-serif;
}

.texto__paragrafo {
    font-size: 24px;
    font-weight: 400;
}

button:disabled {
    background-color: #11022b;
}

@media screen and (max-width: 1250px) {

    h1 {
        font-size: 40px;
    }

    .container__botao {
        font-size: 16px;
    }


    .texto__paragrafo {
        font-size: 24px;
    }

    .container__imagem-dado {
        display: none;
    }

    .container__conteudo {
        display: block;
        position: inherit;
    }

    .container__informacoes {
        padding: 1rem
    }
}