/* Geral */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
}

/* Estilização do Body */
body {
    background-image: url(img.data/black.png);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Chakra Petch', sans-serif;
}

body::before {
    content: "v1.2.1";
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
}

/* Estilização do Container */
.container {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
    border: 1px solid #6808e5;
    box-shadow: 4px 4px 20px rgba(40, 5, 97, 0.15);
    background-size: 100% 100%;
    position: relative;
}

/* Estilização dos conteúdos do Container */
.container__conteudo {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.container__informacoes {
    flex: 1;
    padding: 3rem;
}

.container__input {
    width: 75.5%;
    height: 60px;
    border-radius: 7px;
    background-color: #12022d;
    border: none;
    color: #6808e5;
    padding: 2rem;
    margin-bottom: 2rem;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.container__input:disabled:hover {
    background-color: #17121f;
    cursor: default;
}

/* Estilização dos Botões */
.botao_chutar, .botao_novo, .notas_att {
    border-radius: 7px;
    background: #6808e5;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 14px;
}

.botao_chutar {
    width: 16%;
    margin-bottom: 2rem;
}

.botao_novo {
    width: 24%;
    font-weight: 650;
    padding: 16px;
}

.notas_att {
    width: 8%;
    font-size: 17px;
}

.botao_chutar:hover,
.botao_novo:hover,
.notas_att:hover {
    background: #4e00b5;
}

.botao_chutar:disabled,
.botao_novo:disabled,
.notas_att:disabled {
    background: #12022d;
    cursor: default;
}

.botao_chutar:disabled:hover,
.botao_novo:disabled:hover,
.notas_att:disabled:hover {
    background: #17121f;
}

/* Estilização dos Contêineres de Botões */
.container__botoes {
    display: flex;
    gap: 2em;
}

.container__botoes2 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Estilização dos Textos */
.container__texto {
    margin: 16px 0;
}

.container__texto-azul {
    color: #6808e5;
}

.texto__paragrafo {
    font-size: 25px;
    font-weight: 400;
}

/* Estilização dos Títulos */
h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 74px;
    padding-bottom: 7rem;
}

p, button {
    font-family: 'Chakra Petch', sans-serif;
}

/* Links */
a {
    text-decoration: none;
}

/* Estilos Responsivos */
@media screen and (max-width: 1250px) {
    h1 {
        font-size: 40px;
    }

    .container__botao {
        font-size: 16px;
    }

    .texto__paragrafo {
        font-size: 24px;
    }

    .container__imagem-dado {
        display: none;
    }

    .container__conteudo {
        display: block;
        position: inherit;
    }

    .container__informacoes {
        padding: 1rem;
    }
}
